main{
	width:100%;
	height:100%;
	text-align:center;
}
canvas{
}
#nav{
	position: fixed;
	padding:10px;
	background:black;
	color: white;
	top:0;
	border-radius:10px;
	cursor:pointer;
	margin-top: 10px;
}
#nav img{
	width: 32px;
	height: 32px;
}
.bound{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:	RGB(59, 66, 82,0.3)
}
.boundcard{
	position:absolute;
	top:0;
	left:25%;
	width:46%;
	background:white;
	padding:2%;
	border-radius:0 0 15px 15px;
	max-height:70%;
	overflow:auto;
}
.boundcard div{
	text-align:center;
	padding:10px;
	cursor:pointer;	
}
.boundcard div span{
	width:90%;
	float:left;
	padding:4%;	
	margin:1%;
}
#close{
	background:yellow;
	color:black;	
}
.boundcard div span:hover{
	background:lightgray;
	color:white;	
}

#Listing{
	max-height:200px;
	overflow:auto;	
}
#inputX{
	padding: 10px;
	outline: none;
	border: 2px solid aliceblue;
}
@media  screen and (max-width:1000px) {
		.boundcard{
			width:100%;
			left:0;
			padding:0;
		}
}